/* Imports */

@import url(
    'https://fonts.googleapis.com/css2?family=Flow+Rounded&display=swap'
);
@import url(
    'https://fonts.googleapis.com/css2?family=Russo+One&display=swap'
);

/* Local custom font */
@font-face {
    font-family: 'PocketMonk';
    src: url(assets/fonts/PocketMonk.ttf) format('truetype');
}

/* Variable declarations and general styles */

:root {
    --normal: #B9AA84;
    --fire: #E17526;
    --water: #5594F2;
    --grass: #69CC60;
    --electric: #ECDB40;
    --ice: #79DFE5;
    --fighting: #CC1616;
    --poison: #7E3BB2;
    --ground: #DCC382;
    --flying: #AA93ED;
    --psychic: #F94D95;
    --bug: #A6CE65;
    --rock: #CEAF5F;
    --ghost: #6A5CBD;
    --dark: #474233;
    --dragon: #543DE7;
    --steel: #BCBCBC;
    --fairy: #FC9AC3;
    font-family: 'Russo One', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    color: #FFFFFF;
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(135deg, #E53434, #9F4F23, #E53434);
    background-size: 200% 200%;
    animation: bg-scroll ease-in-out 3s infinite alternate;
}

h1 {
    font-family: 'PocketMonk', sans-serif;
    font-size: 5rem;
    text-shadow: 0 0 0.25rem #FFFFFF;
    text-align: center;
    padding: 5rem 0 5rem;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 50px 50px;
}

li {
    margin: 25px;
}

/* Card styles */

.card {
    position: relative;
    bottom: 0;
    font-size: 1.75rem;
    width: 300px;
    height: 300px;
    padding: 25px;
    border-radius: 25px;
    transition: bottom 250ms ease-out;
    cursor: pointer;
}

.card:hover {
    bottom: 25px;
}

.card img {
    display: block;
    height: calc(100% - 1.75rem);
    width: calc(100% - 1.75rem);
    image-rendering: pixelated;
    background-image: radial-gradient(#FFFFFF, #FFFFFF 50%, #FFFFFF00 50%);
    margin: 0 auto;
}

.card .info {
    display: flex;
    justify-content: space-between;
}

.card .name {
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 25px;
}

/* Custom styles for each pokémon type */

[data-type1="normal"] {
    background-color: var(--normal);
}

[data-type1="fire"] {
    background-color: var(--fire);
}

[data-type1="water"] {
    background-color: var(--water);
}

[data-type1="grass"] {
    background-color: var(--grass);
}

[data-type1="electric"] {
    background-color: var(--electric);
}

[data-type1="ice"] {
    background-color: var(--ice);
}

[data-type1="fighting"] {
    background-color: var(--fighting);
}

[data-type1="poison"] {
    background-color: var(--poison);
}

[data-type1="ground"] {
    background-color: var(--ground);
}

[data-type1="flying"] {
    background-color: var(--flying);
}

[data-type1="psychic"] {
    background-color: var(--psychic);
}

[data-type1="bug"] {
    background-color: var(--bug);
}

[data-type1="rock"] {
    background-color: var(--rock);
}

[data-type1="ghost"] {
    background-color: var(--ghost);
}

[data-type1="dark"] {
    background-color: var(--dark);
}

[data-type1="dragon"] {
    background-color: var(--dragon);
}

[data-type1="steel"] {
    background-color: var(--steel);
}

[data-type1="fairy"] {
    background-color: var(--fairy);
}

[data-type2="normal"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--normal) 65%
    );
}

[data-type2="fire"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--fire) 65%
    );
}

[data-type2="water"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--water) 65%
    );
}

[data-type2="grass"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--grass) 65%
    );
}

[data-type2="electric"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--electric) 65%
    );
}

[data-type2="ice"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--ice) 65%
    );
}

[data-type2="fighting"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--fighting) 65%
    );
}

[data-type2="poison"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--poison) 65%
    );
}

[data-type2="ground"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--ground) 65%
    );
}

[data-type2="flying"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--flying) 65%
    );
}

[data-type2="psychic"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--psychic) 65%
    );
}

[data-type2="bug"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--bug) 65%
    );
}

[data-type2="rock"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--rock) 65%
    );
}

[data-type2="ghost"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--ghost) 65%
    );
}

[data-type2="dark"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--dark) 65%
    );
}

[data-type2="dragon"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--dragon) 65%
    );
}

[data-type2="steel"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--steel) 65%
    );
}

[data-type2="fairy"] {
    background-image: linear-gradient(
        135deg, #FFFFFF00,  #FFFFFF00 65%,  var(--fairy) 65%
    );
}

/* Entry styles */

.entry {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 975px;
    border-radius: 25px;
}

.slide-up {
    animation: slide-up 500ms ease-out forwards;
}

.slide-down {
    animation: slide-down 500ms ease-in forwards;
}

.entry :is(.id, .name) {
    font-size: 2rem;
}

.entry .id {
    display: block;
    text-align: end;
    margin: 25px 25px calc(2rem / 3);
}

.entry .id::before {
    content: '#';
}

.entry .main {
    display: flex;
    margin: 0 25px 50px;
}

.entry .about {
    width: 350px;
    padding-right: 25px;
    border-right: 5px solid #FFFFFF;
    margin-left: 25px;
}

.entry .display {
    position: relative;
    width: fit-content;
}

.entry .gender-buttons {
    display: flex;
    position: absolute;
    right: 0;
}

.entry .gender {
    width: 25px;
    height: 25px;
    background-color: #FFFFFF00;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: calc(25px / 3);
    margin-right: calc(25px / 5);
    cursor: pointer;
}

.entry .gender:hover {
    filter: saturate(150%) brightness(125%);
}

.entry .male {
    background-image: url(assets/icons/male.svg);
}

.entry .female {
    background-image: url(assets/icons/female.svg);
}

.entry .gender:last-child {
    margin-right: calc(25px / 3);
}

.entry img {
    image-rendering: pixelated;
    width: 250px;
    height: 250px;
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 30px;
}

.entry .name {
    margin-top: calc(2rem / 2);
}

.entry :is(.name, .species) {
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entry :is(.species, .types, .measures, .habitat) {
    font-size: 1.75rem;
}

.entry .desc {
    width: 525px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25px;
    margin-right: 25px;
}

.entry .text {
    height: 150px;
    font-size: 1.5rem;
    overflow: hidden;
}

.entry .types {
    display: flex;
    align-self: flex-end;
}

.entry .type {
    width: 5em;
    text-align: center;
    overflow: hidden;
    padding: 2.5px;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    margin-right: 5px;
    cursor: default;
}

.entry .type:last-child {
    margin-right: 0;
}

.entry .measures {
    display: flex;
}

.entry .measure {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entry .weight {
    text-align: end;
}

.entry .height::after {
    content: ' m';
}

.entry .weight::after {
    content: ' kg';
}

.entry .habitat {
    display: block;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-size: contain;
    image-rendering: pixelated;
    padding: 25px;
    border-radius: 0 0 25px 25px;
}

.entry .habitat::after {
    content: ' Pokémon';
}

/* Custom styles for each pokémon habitat */

[data-habitat="Grassland"] {
    background-image: url(assets/images/habitats/grassland.png);
}

[data-habitat="Forest"] {
    background-image: url(assets/images/habitats/forest.png);
}

[data-habitat="Water edge"] {
    background-image: url(assets/images/habitats/water-edge.png);
}

[data-habitat="Sea"] {
    background-image: url(assets/images/habitats/sea.png);
}

[data-habitat="Cave"] {
    background-image:
        url(assets/images/habitats/cave-entrance.png),
        url(assets/images/habitats/cave-wall.png);
    background-repeat: no-repeat, repeat;
    background-position: right, right;
}

[data-habitat="Mountain"] {
    background-image: url(assets/images/habitats/mountain.png);
}

[data-habitat="Rough terrain"] {
    background-image:
        url(assets/images/habitats/rough-terrain-rock.png),
        url(assets/images/habitats/rough-terrain-grass.png);
    background-repeat: no-repeat, repeat;
    background-position: right, right;
}

[data-habitat="Urban"] {
    background-image:
        url(assets/images/habitats/urban-house.png),
        url(assets/images/habitats/urban-buildings.png);
    background-repeat: no-repeat, repeat;
    background-position: right, right;
}

[data-habitat="Rare"] {
    background-image:
        url(assets/images/habitats/rare-brightened.png),
        url(assets/images/habitats/rare-darkened.png);
    background-repeat: no-repeat, repeat;
    background-position: right, right;
}

[data-habitat="Unknown habitat"] {
    background-image: url(assets/images/habitats/unknown-habitat.png);
    background-position: right;
}

/* Cards curtain styles */

.curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000bf;
}

.fade-in {
    animation: fade-in 500ms ease-out forwards;
}

.fade-out {
    animation: fade-out 500ms ease-out forwards;
}

/* Default style for loading text */

.loading {
    font-family: 'Flow Rounded', cursive;
}

/* Background animation */

@keyframes bg-scroll {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

/* Animations for the selected entry */

@keyframes slide-up {
    0% {
        position: fixed;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 100%);
    }
    75% {
        position: fixed;
        bottom: 55%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    100% {
        position: fixed;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
}

@keyframes slide-down {
    0% {
        position: fixed;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    25% {
        position: fixed;
        bottom: 55%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    100% {
        position: fixed;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 100%);
    }
}

/* Animations for the curtain that highlights the opened entry */

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes fade-out {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}